.mainContainer {
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
}

.containerDiv {
    border: 2px solid red;
    width: 100vw;
}

.container {
    display: flex;
    /* justify-content: space-between; */
    border: 2px solid red;
}